{{!-- Using `ember g component general-container` in terminal to create this component. --}}

<LinkTo @route="cart" class="cart-link">
  <i class="fa fa-shopping-cart"></i>
</LinkTo>

{{!-- {{yeild}} represents a placeholder for the content of the component blocks. --}}
<main class="container mt-5">
  {{yield}}
</main>
